<div class="navbar bg-blue-500 p-4">
    <a href="/" class="text-2xl font-bold text-white hover:text-gray-200">Lego Collection</a>
    <div class="flex space-x-4 ml-auto">
        <a href="/lego/sets" class="text-lg text-white hover:text-gray-200 <%= (page == '/lego/sets') ? 'border-b-2 border-white' : '' %>">View Collection</a>
        <a href="/about" class="text-lg text-white hover:text-gray-200 <%= (page == '/about') ? 'border-b-2 border-white' : '' %>">About</a>
    </div>
</div>
