<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.min.js" defer></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
        <a href="/" class="text-xl font-bold">Lego Collection</a>
        <div class="flex space-x-4">
            <a href="/about" class="text-white hover:text-gray-400">About</a>
            <!-- Dropdown menu using Alpine.js -->
            <%- include('partials/navbar', { page: '' }) %>
        </div>
    </nav>
    <div class="container mx-auto p-4">
        <div class="hero bg-gray-800 text-white text-center py-24 flex flex-col items-center">
            <h1 class="text-5xl font-bold mb-4">404 Not Found</h1>
            <p class="text-xl mb-8"><%= message %></p>
            <img src="https://t3.ftcdn.net/jpg/07/09/94/66/240_F_709946685_CkOI57u9VQg2iVNGHRVylglE75K2irMl.jpg" alt="404 Image" class="h-64 w-64 object-cover rounded-md mb-4">
            <a href="/" class="bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600 transition duration-200">Go to Home</a>
        </div>
    </div>
</body>
</html>
